@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


/* Main styles */


.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #010A26;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #F2385A;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: rgb(58, 160, 191);
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #010A26;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

text{

    text-transform: uppercase;
    font: 8.5em/1 'Roboto', sans-serif; 

}
svg {

  position: absolute;
  width: 100%;
  height: 100%;

}

/* CSS declarations go here */

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.materialboxe{

    border-radius: 100px;

}
.up{

    border: none;
    border-left: 1px solid;
    height: 240px;
    
}
p,h5{

    color: #010A26;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
  }

/* navigation bar section */
#Nav{

    background-color:#010A26;

}

/* head section */
#Row1{

    height: 500px;
    background-color: rgba(1, 10, 38, 0.664);

}

#Head-Button1{

    background-color: rgb(232, 51, 57);
    color: #ffffff;
    width: 300px;
    margin-bottom: 20px

}
#Head-Button2{

    background-color: #010A26;
    color: rgb(255, 255, 255);
    width: 300px;

}
#buttons{

    padding-left: 300px;

}
#Head-text{

    color:#CFD3CD;

}

/*  section 1 */
#Row2{

    height:inherit;
    padding-top: 100px;
    padding-bottom: 100px;

}
#Row3{

    background-color: rgba(4, 10, 37, 0.925);
    height: 400px;

}
#Row4{

  background-color: rgba(58, 160, 191, 0.747);
  height: 400px;
  
}
/* footer */
.orange {

    background-color:#010A26 !important;

}
.row .col.l6 {

    width: 50%;
    left: auto;
    right: auto;

}

/* styling for select category cards */

.card {

    width: 400px;
    border-radius: 5%;
    border-top: 5%;

  }
/* login */

  #login {

    margin-left: 400px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 450px;
    width: 500px;
    height: 450px;
    background-color: rgba(1, 10, 38, 0.795);

  }

  
  #login-button{

    background-color: rgb(232, 51, 57);
    color: rgb(255, 255, 255);
    width: 300px; 

  }
  .main{

    background-color: rgba(1, 10, 38, 0);
    height: auto;
    padding-bottom: 100px

  }
  
  .input-field{

    width: 300px !important ;
    margin: auto ;
    color: rgb(255, 255, 255) !important ;

}
#login-heading{
    margin-bottom: 50px;
}
  /* sign up */

  #signUp {

    margin-left: 400px;
    margin-top: 100px;
    padding-right: 10px;
    padding-top: 50px;
    width: 500px;
    height: auto;
    background-color: rgba(1, 10, 38, 0.795);
    padding-left: 100px;
    padding-bottom: 50px;

  }
  .main2{

    background-color: rgba(1, 10, 38, 0);
    height: auto;
    padding-bottom: 10px;

  }
  #signup-button{

    background-color: rgb(232, 51, 57)!important;
    color: rgb(255, 255, 255) ! important;
    width: 300px !important; 
    margin-right: 100px;

  }
  .signUp-input{

    width: 300px !important ;
    margin: auto !important ;
    color: rgb(255, 255, 255) !important ;

  }
  #gender-input{

    padding-right: 20px;
    padding-left: 1px;

}
 #signup-heading{

    padding-right: 80px;
    margin-bottom: 50px;

 }


/* new cards */
.growCard {

  border: none;
  font-size: 50px;
  color: white;
  position: relative;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin:10px;
  background-color:rgba(10, 29, 41, 0.993);
  height:170px;
  border-radius: 50px;

}

.growCard:hover {

  transform: scale(1.1);

}

.myTitle {

  text-align:center;

}

.icon{

 font-size:90px;

}
