@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* #Head-Button1{

    background-color: rgb(77, 60, 60) !important;
    color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 6000px !important;
    }
    #Head-Button2{

    background-color: #010A26;
    color: rgb(255, 255, 255);
    width: 100%;

    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  #Head-Button1{

    background-color: rgb(255, 255, 255);
    color: #ffffff;
    width: 100%;
    margin-bottom: 20px

}
#Head-Button2{

    background-color: #010A26;
    color: rgb(255, 255, 255);
    width: 100%;

}
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

/* Main styles */


.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #010A26;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #F2385A;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: rgb(58, 160, 191);
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #010A26;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

text{

    text-transform: uppercase;
    font: 8.5em/1 'Roboto', sans-serif; 

}
svg {

  position: absolute;
  width: 100%;
  height: 100%;

}

/* CSS declarations go here */

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  text-align: center
}
.materialboxe{

    border-radius: 100px;

}
.up{

    border: none;
    border-left: 1px solid;
    height: 240px;
    
}
p,h5{

    color: #010A26;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
  }

/* navigation bar section */
#Nav{

    background-color:#010A26;

}

/* head section */
#Row1{

    height: 500px;
    background-color: rgba(1, 10, 38, 0.664);

}

#Head-Button1{

    background-color: rgb(232, 51, 57);
    color: #ffffff;
    width: 300px;
    margin-bottom: 20px

}
#Head-Button2{

    background-color: #010A26;
    color: rgb(255, 255, 255);
    width: 300px;

}

#Head-text{

    color:rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
}
h4{
  font-family: 'Roboto Condensed', sans-serif;
}

/*  section 1 */
#Row2{

    height:inherit;
    padding-top: 100px;
    padding-bottom: 100px;

}
#Row3{

    background-color: rgba(4, 10, 37, 0.925);
    height: 400px;

}
#Row4{

  background-color: rgba(58, 160, 191, 0.747);
  height: 400px;
  
}
/* footer */
.orange {

    background-color:#010A26 !important;

}
.row .col.l6 {

    width: 50%;
    left: auto;
    right: auto;

}

/* styling for select category cards */

.card {

    width: 400px;
    border-radius: 5%;
    border-top: 5%;

  }
/* login */

  #login {

    padding-top: 50px;
    padding-bottom: 450px;
    width: 500px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

  }

  .login-row{
    display: flex;
    justify-content: center;
    margin: 200px;
  }
  #login-button{

    background-color: rgb(232, 51, 57);
    color: rgb(255, 255, 255);
    width: 300px; 

  }
  .main{

    background-color: rgba(1, 10, 38, 0);
    height: auto;
    padding-bottom: 100px

  }
  
  .input-field{

    width: 300px !important ;
    margin: auto ;

}
#login-heading{

    margin-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;

}
  /* sign up */

  #signUp {

    margin-left: 400px;
    margin-top: 100px;
    padding-right: 10px;
    padding-top: 50px;
    width: 500px;
    height: auto;
    background-color: rgba(1, 10, 38, 0.795);
    padding-left: 100px;
    padding-bottom: 50px;

  }
  .main2{

    background-color: rgba(1, 10, 38, 0);
    height: auto;
    padding-bottom: 10px;

  }
  #signup-button{

    background-color: rgb(232, 51, 57)!important;
    color: rgb(255, 255, 255) ! important;
    width: 300px !important; 
    margin-right: 100px;

  }
  .signUp-input{

    width: 300px !important ;
    margin: auto !important ;
    color:rgba(1, 10, 38, 0) !important ;

  }
  #gender-input{

    padding-right: 20px;
    padding-left: 1px;

}
 #signup-heading{

    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 80px;
    margin-bottom: 50px;

 }


/* new cards */

.growCards {

  color: rgb(232, 51, 57);

  position: relative;

  transition: all 300ms ease-in-out;

  cursor: pointer;

  overflow: hidden;

  background-color:#010A26;

  height:170px; 

  border-radius: 50px;

  padding: 45px !important;

  text-align: center !important;

  width: 350px !important;

  margin:40px !important;

  



}



.growCards:hover {



  transform: scale(1.1);



}
#center{
  text-align: center
}
/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}
.userprofile-row{
  display : flex;
  justify-content: center;
}
.user-profile {
	width: 25em; 
  height: 210px;
  background: #EEF4F2;
  border-radius: .3em;
  font-size: 18px;
  box-sizing: initial;
  margin: 200px;
  font-size: 20px;
}

.user-profile  .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile ul.data {
	margin: 2em auto;
	height: 3.70em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}
footer{
  background-image: linear-gradient(#3aa0bf,#010a26); 
}
i{
  color: rgb(232, 51, 57);
}